
Flask==1.1.2
gunicorn==20.1.0
imutils==0.5.4
Jinja2==2.11.3
moviepy==1.0.3
numpy==1.18.4
opencv-python==4.4.0.46
Pillow==8.0.1
proglog==0.1.9
requests==2.24.0
tqdm==4.51.0
urllib3==1.25.11
Werkzeug==1.0.1
wincertstore==0.2
