<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="style.css">
  
</head>

<body>
 <div class="login">
	<h1>User Registration</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form method="post">
    	<input type="text" name="experience" placeholder="Name" required="required" />
        <input type="text" name="Address" placeholder="Address" required="required" />
        <input type="text" name="Type" placeholder="Document Type" required="required" />
		<input type="password" name="interview_score" placeholder="Document Number" required="required" />
    <input type="date" name="DOB" placeholder="Date Of Birth" required="required">
        <input type="tel" name="number" placeholder="Mobile No." required="required" />
        
        

        <button type="submit" class="btn btn-primary btn-block btn-large"><a href="1.html">Submit</a></button>
    </form>
   <br>
   <br>
   

 </div>


</body>
</html>